USE [master]
GO
/****** Object:  Database [TrabajoPracticoN4]    Script Date: 22/11/2020 16:56:59 ******/
CREATE DATABASE [TrabajoPracticoN4]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TrabajoPracticoN4', FILENAME = N'E:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\TrabajoPracticoN4.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TrabajoPracticoN4_log', FILENAME = N'E:\SQL2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\TrabajoPracticoN4_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TrabajoPracticoN4].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TrabajoPracticoN4]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 22/11/2020 16:56:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[nombre] [nvarchar](50) NOT NULL,
	[idArticulo] [numeric](18, 0) NOT NULL,
	[precio] [float] NOT NULL,
	[stock] [numeric](18, 0) NOT NULL,
	[tipoArticulo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
USE [master]
GO
